{% extends "base.html" %}
{% block content %}
	<h2 align="center">List Products</h2>
	<ul>
		<li><a href="/create">Create</a></li>
	</ul>
	<br>
	{% for instance in object_list %}
	<p><b style="color:#f48024">Title : </b>{{instance.title}}</p>
	<p><b style="color:#f48024">Description : </b>{{instance.description}}</p>
	<p><b style="color:#f48024">Price : </b>{{instance.price}}</p>
	<p><b style="color:#f48024">Summary : </b>{{instance.summary}}</p>
	<a href="{{ instance.get_absolute_url }}">Details</a>
	<hr>
	{% endfor %}
{% endblock %}


{% block test %}

{% endblock %}